 
  <table>
  <tr>
    <th *ngFor="let heading of heading">
      {{  heading }}
    </th>
  </tr>
  <tr *ngFor="let data of mydata">
    <td *ngFor="let head of heading">
      {{  data[head] }}
    </td>
  </tr>
</table>
<button onclick="myFun()">Add</button>
<div>
<input type="text" name="idno" id="idno" placeholder="ID">
<input type="text" name="fname" id="fname" placeholder="FirstName">
<input type="text" name="lname" id="lname" placeholder="LastName">
<input type="text" name="email" id="email" placeholder="abc@123">
<input type="text" name="dob" id="dob" placeholder="dob">
</div>
